.custom-nav-pills .nav-item .nav-link.active {
    background-color:rgb(237, 32, 32);
    color: white;
    border-radius : 4px;
}

/* Ganti warna sesuai keinginan Anda */
.custom-header {
    background-color: rgb(139, 19, 19);
}

.custom-header .navbar-brand {
    color: white;
}